<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn badge-link">Home</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>14.02.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deleniti dolorum, esse eveniet explicabo incidunt itaque libero repudiandae veritatis. Consectetur consequatur debitis dignissimos ea eos id laboriosam modi nostrum ut voluptatum! Amet consectetur ea explicabo libero nostrum praesentium veritatis. Deserunt ducimus illum natus nemo optio recusandae soluta ullam voluptate. Dolorem?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deleniti dolorum, esse eveniet explicabo incidunt itaque libero repudiandae veritatis. Consectetur consequatur debitis dignissimos ea eos id laboriosam modi nostrum ut voluptatum! Amet consectetur ea explicabo libero nostrum praesentium veritatis. Deserunt ducimus illum natus nemo optio recusandae soluta ullam voluptate. Dolorem?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deleniti dolorum, esse eveniet explicabo incidunt itaque libero repudiandae veritatis. Consectetur consequatur debitis dignissimos ea eos id laboriosam modi nostrum ut voluptatum! Amet consectetur ea explicabo libero nostrum praesentium veritatis. Deserunt ducimus illum natus nemo optio recusandae soluta ullam voluptate. Dolorem?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deleniti dolorum, esse eveniet explicabo incidunt itaque libero repudiandae veritatis. Consectetur consequatur debitis dignissimos ea eos id laboriosam modi nostrum ut voluptatum! Amet consectetur ea explicabo libero nostrum praesentium veritatis. Deserunt ducimus illum natus nemo optio recusandae soluta ullam voluptate. Dolorem?</p>
  </div>
</div>
