<app-alert></app-alert>

<nav class="navbar bg-primary">
  <h1 routerLink="/">Blog</h1>

  <ul *ngIf="auth.isAuthenticated()">
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'dashboard']">Main</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'posts', 'create']">Create</a>
    </li>
    <li>
      <a href="#" (click)="logout($event)">Logout</a>
    </li>
  </ul>
  <form>
    <select #localeSelect (change)="setLocale(localeSelect.value)">
      <option
        *ngFor="let locale of localeService.locales" [value]="locale"
      >{{ locale | uppercase }}</option>
    </select>
  </form>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
